* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Images/scene.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

.scene-content {
    background: rgba(255, 255, 255, 0.3);
}

#play-btn {
    transition: all 300ms;
}

